/* Riwayat.css */

/* Container Utama */
.riwayat-container {
  padding: 2rem;
  background-color: #000; /* Warna latar belakang */
  color: #fff; /* Warna teks */
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}

.table th, .table td {
  border: 1px solid #fff; /* Border untuk tabel */
  padding: 0.5rem;
  text-align: left;
}

.table th {
  background-color: green; /* Warna latar belakang header tabel */
  color: white; /* Warna teks header tabel */
}

.table tr:nth-child(even) {
  background-color: #333; /* Warna latar belakang baris genap */
}

/* .table tr:hover {
  background-color: #444; /* Warna latar belakang saat hover */
}
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  } */

  .riwayat-grid {
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 2rem;
  }
  
  .riwayat-card {
    width: 90%;
    padding: 0.5rem;
    border: 1px solid #8b8b8b;
    border-radius: 4px;
    background-color: #f0f0f0;
    margin-bottom: 0.5rem;
    color: black;
  }
