* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Membuat ukuran elemen lebih konsisten */
}

html, body {
  height: 100%; /* Pastikan elemen html dan body mengisi seluruh tinggi layar */
  margin: 0; /* Menghapus margin default */
  padding: 0; /* Menghapus padding default */
  background-color: black; /* Latar belakang hitam */
  color: white; /* Menambahkan warna teks putih agar kontras dengan latar belakang */
}

main {
  padding: 0;
  background-color: #ebeee9; 
}

.makanan-grid {
  margin-top: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  display: grid; /* Menggunakan grid untuk susunan kartu */
  grid-template-columns: repeat(2, 1fr); /* Dua kolom per baris */
  gap: 1rem; /* Jarak antara kartu */
}

/* Media Queries untuk Responsivitas */
@media (max-width: 768px) {
  .makanan-grid {
    grid-template-columns: 1fr; /* Satu kolom per baris untuk layar kecil */
  }
}

@media (max-width: 480px) {
  .makanan-grid {
    margin-left: 1rem; /* Mengurangi margin untuk layar kecil */
    margin-right: 1rem; /* Mengurangi margin untuk layar kecil */
  }
}
