* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Membuat ukuran elemen lebih konsisten */
}

html, body {
  height: 100%; /* Pastikan elemen html dan body mengisi seluruh tinggi layar */
  margin: 0; /* Menghapus margin default */
  padding: 0; /* Menghapus padding default */
  background-color: black; /* Latar belakang hitam */
  color: white; /* Menambahkan warna teks putih agar kontras dengan latar belakang */
}

main {
  padding: 0;
  background-color: #000000; 
}

.makanan-grid {
  margin-top: 40px;
  display: grid !important;
  grid-template-columns: repeat(4, 1fr) !important; /* 4 kolom */
  gap: 1.5rem;
  justify-items: center;
  width: 100%;
  max-width: 1200px; /* Lebar maksimal grid */
  margin-left: auto;
  margin-right: auto;
}

.food-card {
  width: auto; /* Sesuaikan dengan kolom grid */
  max-width: 100%;
  box-sizing: border-box;
  background-color: white;
  color: black;
  padding: 1rem;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
}


/* Pagination Styling */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  border: none;
  background-color: #f0f0f0;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
  border-radius: 5px;
}

.pagination button.active {
  background-color: #4caf50;
  color: white;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #ddd;
}


/* Media Queries untuk Responsivitas */
@media (max-width: 768px) {
  .makanan-grid {
    grid-template-columns: 1fr; /* Satu kolom per baris untuk layar kecil */
  }
}

@media (max-width: 480px) {
  .makanan-grid {
    margin-left: 1rem; /* Mengurangi margin untuk layar kecil */
    margin-right: 1rem; /* Mengurangi margin untuk layar kecil */
  }
}