/* src/Pages/FeatureCards.css */

.feature-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 40px 0;
    padding: 0 20px;
    flex-wrap: wrap;
}

.feature-card {
    background-color: #333;
    color: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 40%;
    min-width: 300px;
    max-width: 500px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    will-change: transform, box-shadow;
}

.feature-card:hover {
    transform: translateY(-10px) scale(1.02) !important; /* Efek mengambang dengan sedikit perbesar */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4); 
    background-color: #444;/* Bayangan lebih besar saat di-hover */
}

.feature-card h2 {
    font-size: 1.75rem;
    margin-bottom: 15px;
}

.feature-card p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #ccc;
}

.feature-card a {
    color: #28a745;
    text-decoration: none;
    position: relative;
    font-weight: bold;
    transition: color 0.3s ease;
    font-size: 1.2rem;
}

.feature-card a::after {
    content: "→";
    font-size: 1.5rem;
    margin-left: 8px;
    transition: margin-left 0.3s ease, font-size 0.3s ease;
}

.feature-card a:hover {
    color: #fbf304;
}

.feature-card a:hover::after {
    margin-left: 12px;
    font-size: 1.8rem;
}

/* Responsif untuk layar kecil */
@media (max-width: 768px) {
    .feature-card {
        width: 100%;
    }
}
