.exerciseDetail {
    padding: 2rem;
    background-color: #d4cfcf; /* Warna latar belakang */
    color: black;
    border-radius: 0.5rem;
    text-align: center;
    position: relative; /* Memungkinkan penempatan absolut untuk ikon silang */
  }
  
  .class-icon {
    position: absolute; /* Posisi tombol di sudut */
    top: 5rem; /* Jarak dari atas */
    right: 1rem; /* Jarak dari kanan */
    background-color: transparent; /* Latar belakang transparan */
    border: none; /* Tanpa border */
    color: white; /* Warna teks putih */
    font-size: 1.5rem; /* Ukuran font */
    cursor: pointer; /* Menunjukkan bahwa ini dapat diklik */
    transition: color 0.3s; /* Transisi halus untuk perubahan warna */
  }
  
  .class-icon:hover {
    color: red; /* Warna saat hover */
  }
  
  .exerciseInfo {
    margin: 1rem 0;
  }
  
  .exerciseImage img {
    width: 100%;
    border-radius: 0.75rem;
    max-width: 400px; /* Membatasi lebar maksimum gambar */
  }
  
  .exerciseContent {
    margin-top: 2rem;
    text-align: left; /* Menyelaraskan teks ke kiri */
  }
  
  .exerciseContent h3 {
    font-size: 1.5rem; /* Ukuran font untuk subjudul */
    margin-bottom: 0.5rem; /* Jarak bawah untuk subjudul */
  }
  
  .exerciseContent ul {
    list-style-type: disc; /* Tipe daftar */
    margin-left: 1.5rem; /* Jarak kiri untuk daftar */
  }
  
  .exerciseContent p {
    margin-top: 1rem; /* Jarak atas untuk paragraf */
  }
  