.exercise-card {
    position: relative;
    width: 250px;
    border-radius: 0.75rem;
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    background-color: #000; /* Latar hitam */
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .exercise-card:hover {
    transform: scale(1.05);
    box-shadow: 6px 12px 30px rgba(0, 0, 0, 0.9);
  }
  
  .exercise-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .exercise-info {
    padding: 1rem;
    background-color: #000;
    color: white;
  }
  
  .exercise-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .exercise-details {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    color: #9ca3af; /* Warna abu-abu */
  }
  
  .exercise-time, .exercise-calories {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
  