/* Reset CSS untuk mencegah overflow pada seluruh halaman */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .exercise-section {
    padding: 2rem;
    text-align: center;
    background-color: #5F6368; /* Latar belakang gelap untuk kontras */
    color: white;
  }
  
  .exercise-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  
  .exercise-cards {
    margin-top: 40px;
    display: flex;
    gap: 4rem;
    justify-content: center;
    flex-wrap: wrap;
  }
  