.get-started-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

.form-box {
  background-color: #1c1c1c;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 300px;
  color: white;
  position: relative;
}

/* Tombol close "X" */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #555;
}

.close-button:hover {
  color: #ff5722;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.gender-selection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.gender-button {
  background: none;
  border: 2px solid #555;
  color: white;
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gender-button.selected {
  background-color: #333;
  border-color: #bbb;
}

label {
  font-size: 1em;
  margin-top: 10px;
  display: block;
}

input[type="number"] {
  background-color: #333;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  margin-top: 5px;
  text-align: center;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.input-group span {
  color: white;
}

.get-started-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.get-started-button:hover {
  background-color: #45a049;
}
