.weeklyChallenge {
  padding: 2rem;
  background-color: #98C93B; /* lime-300 */
  display: flex;
  align-items: center;
  gap: 2rem;
}

.weeklyChallenge-title {
  font-size: 3rem; /* text-4xl */
  font-weight: bold;
  color: black;
  line-height: 1.2; /* Mengatur jarak antar baris */
  text-align: left; /* Menyelaraskan teks ke kiri */
  white-space: pre-line; /* Memungkinkan teks pecah baris */
  margin-left: 100px;
}

.challenge-cards {
  display: flex;
  gap: 4rem;
  justify-content: center;
  width: 100%;
}

.challenge-card {
  position: relative;
  border-radius: 0.75rem;
  box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s; /* Animasi halus */
  width: 400px;
  height: 250px; /* Pastikan tinggi yang sesuai untuk gambar */
}

.challenge-card:hover {
  transform: scale(1.05); /* Sedikit memperbesar saat hover */
  box-shadow: 6px 12px 30px rgba(0, 0, 0, 0.9); /* Bayangan lebih besar */
}

.challenge-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.challenge-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Overlay hitam transparan */
  color: white;
  padding: 1rem;
  text-align: center;
  height: 110px;
  z-index: 2; /* Pastikan ini di atas gambar */
}

.challenge-title {
  font-size: 1.125rem; /* text-lg */
  font-weight: 600;
  color: white;
  text-align: left;
}

.challenge-details {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem; /* text-sm */
  margin-top: 0.5rem;
  gap: 1rem;
}

.play-button {
  position: absolute;
  bottom: 85px;
  right: 10px;
  width: 45px; /* Adjust size as needed */
  height: 45px;
  background-color: #896CFE;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

