/* ArticleCard.css */

.article-card {
    display: flex;
    flex-direction: row;
    background-color: rgba(17, 17, 17, 0.0);
    color: white;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    text-align: left; /* Pastikan teks rata kiri */
    width: max-content;
    margin: 0 auto; /* Pusatkan kartu artikel */
  }
  
  .article-content {
    padding: 3rem;
    margin-right: 100px;
    flex: 1; /* Isi ruang yang tersedia */
  }
  
  .article-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .article-description {
    font-size: 0.875rem;
    margin-bottom: 1rem;
  }
  
  .article-link {
    color: #98c93b;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.875rem;
  }
  
  .article-link:hover {
    text-decoration: underline;
  }
  
  .article-image {
    max-height: 500px;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }